@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-section: #F3F6F5;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}
@font-face {
  font-family: OnNormal;
  src: url(./fonts/OnNormal.woff2);
}

*{
  direction: rtl;
  font-family: OnNormal ;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
